.form-new-note{
    background: white;
    width: 500px;
    margin:50px auto;
    padding: 25px;
    border-radius: 10px;


}

.input-title{
    width: 100%;
    padding-top:10px ;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 17px;

}

.input-category{
    width: 100%;
    padding-top:10px ;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 17px;

}
.input-content{
    width: 100%;
    padding-top:10px ;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 17px;
    
}

.save-btn{
    background: black;
    color:white;
    display: block;
    margin:20px  auto;
    cursor: pointer;
    padding: 15px 30px;
    font-size: 17px;

    
    
}

.input-id{
    width: 100%;
    padding-top:10px ;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 17px;

    
}

@media screen and (max-width:600px) {
    .form-new-note{
        width: 90%;
    }
    
}
